.wrapper {
  @include section-spacing();
  background: linear-gradient(to bottom, var(--green-50), white);

   h3 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: var(--green-900);
    font-family: var(--font-lora);
    margin-bottom: 1rem;
    font-weight: 500;
  }
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: clamp(3rem, 8vw, 6rem);
  align-items: center;
  justify-content: center;
}

.tagline {
  font-size: clamp(1rem, 3vw, 1.25rem);
  color: var(--green-700);
  font-family: var(--font-syne);
  margin: 1rem 0 2.5rem;
}

.benefitList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 2rem;
  }
}

.benefitItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  // color: var(--green-600);
  font-size: 1rem;
  // font-weight: bold;
}

.benefitTitle {
  display: block;
  font-size: 0.975rem;
  // color: var(--green-800);
  // margin-bottom: 0.15rem;
}

.textContent {
  text-align: center;
}